<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
<form [formGroup]="form" (ngSubmit)="submit()">
      
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <div *ngIf="f.name.errors.required">Name is required.</div>
            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
        </div>
    </div>

<div class="form-group">
    <label for="email">Email</label>
    <input 
        formControlName="email"
        id="email" 
        type="text" 
        class="form-control">
    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
        <div *ngIf="f.email.errors.required">Email is required.</div>
        <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
    </div>
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control"  />
    <!-- <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback" [ngClass]="{ 'is-invalid': f.password.errors }"> -->
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
    </div>

<div class="form-group">
    <label for="body">Body</label>
    <textarea 
        formControlName="body"
        id="body" 
        type="text" 
        class="form-control">
    </textarea>
    <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
        <div *ngIf="f.body.errors.required">Body is required.</div>
    </div>
</div>

<button class="btn btn-info" type="button" (click)="setValue()">Set Default Value</button>
<button class="btn btn-info" type="button" (click)="resetValue()">Reset Value</button>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
    