

<html>
<head>
<style>
div {
  width: 320px;
  padding: 10px;
  border: 5px solid green;
  margin: 0;
}
</style>
</head>
<body>

<h2>Calculate the total width:</h2>

<img src="https://www.w3schools.com/css/klematis4_big.jpg" width="350" height="263" alt="Klematis">
<div>The picture above is 350px wide. The total width of this element is also 350px.</div>
<p>mycomp2 works!</p>
  
  <!-- <fieldset>
  <label for="name">Enter name</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="pass">Enter Password</label><br>
  <input type="Password" id="pass" name="pass"><br>
  <label for="gender">Gender: </label>
  <input type="radio" id="gender" name="gender" value="male" />Male
  <input type="radio" id="gender" name="gender" value="female" />Female <br />
  <input type="submit" value="submit">
</fieldset> -->

 
</body>
</html>
